src/main/mule/jenkinspipeline.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6a215ecc-2027-4d2f-a8dd-e9848382ffa5" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="jenkinspipelineFlow" doc:id="cd044c8c-19ce-4013-b4d5-38b7516dda9d" >
		<http:listener doc:name="Listener" doc:id="b715d1ad-827a-4c4c-ad05-37a6bf46de16" config-ref="HTTP_Listener_config" path="/path"/>
		<logger level="INFO" doc:name="Logger" doc:id="fd7e9e5a-7302-4465-bc9c-054677439c0f" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="5578a92c-97a9-4e1c-8b37-72dffbc28f62" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
